

img {
    width: 700px;
    height: auto;
    
}

h1 {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 38px;
    font-style: Verdana, sans-serif;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: 28px;
    font-style: Verdana, sans-serif

}